@import 'assets/vars.scss';

.portfolio-root {
    color: black;
    max-width: 1140px;

    .case-study-button {
        height: 360px;
        width: 360px;
        min-width: 332px;
        border: none;
        border-radius: 0;
        font-family: FVAlmelo;
        font-size: 35px;
        font-weight: 100;
        text-transform: none;
        color: #FFFFFF;
        line-height: 32px;
        letter-spacing: 0;
        margin-bottom: 4rem;
        padding: 0;
    }
    .columns {
        text-align: center;
    }
    .about-me {
        margin: 2rem 0;
    }
    .portfolio-logo {
        img {
            margin: 0 3rem 1rem 3rem;
        }
    }
    .portfolio-social {
        img {
            margin: 5rem 1rem 6rem 1rem;
        }
    }
    .no-margin {
        margin: 0;
    }
    .email-link {
        color: black;
        text-decoration: none;
    }
    .email-link:hover {
        color: $primaryPink
    }
    .blurb {
        font-family: BarlowSemiCondensed-Medium;
    }
}
