@import 'assets/vars.scss';

.case-study-detail-root {
    .next-prev {
        margin-bottom: 6rem;

        a {
            text-decoration: none;
            color: black;
        }
        a:hover {
            color: $primaryPink
        }

        @media (max-width:549px) {
            h6 {
                margin: 3rem 0 -2rem 0;
            }
        }
    }

    .banner {
        @media (max-width: 549px) {
            margin-bottom: 10px;
        }
        
        height: 100%;
        margin-bottom: 60px;
        text-align: left;
        padding: 7rem 0rem 4rem 0rem;
    }

    .banner-text {
        font-size: 1.5rem;
        color: white;
        font-family: BarlowSemiCondensed-Medium;
        padding-right: 6rem;
    }

    .image-row {
        @media (max-width: 549px) {
            margin-bottom: 0;
        }
        margin-bottom: 5rem;
        text-align: center;
    }

    .blue {
        background-color: $primaryBlue;    
    }

    .pink {
        background-color: $primaryPink;
    }

    .yellow {
        background-color: $primaryYellow;
    }

    .black {
        background-color: black;
    }

    
}