@import 'assets/vars.scss';

@keyframes pulseTop {
    0% { background-color: $primaryBlue; }
   33% { background-color: $primaryYellow; }
   66% { background-color: $primaryPink; }
   100% { background-color: $primaryBlue; }
}

@keyframes pulseBottom {
    0% { background-color: $primaryPink; }
   33% { background-color: $primaryYellow; }
   66% { background-color: $primaryBlue; }
   100% { background-color: $primaryPink; }
}

.home-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    
    .top {
        animation: pulseTop 60s infinite;
    }
    .bottom {
        animation: pulseBottom 60s infinite;
    }

    .split {
        min-height: 50%;
        height: 50%;
        display: flex;
    }

    .background {
        background-image: url('../media/home-bg-pattern.svg');
        background-size: cover;
        top:0;
        left: 0;
        height: 100%;
        position: absolute;
        z-index: 2;
        width: 100%;
    }

    .jumbo {
        z-index: 3;
        position: relative;
        margin: auto;
        text-decoration: none;
        
        a {
            font-size: 250px;        
            color: white;
            text-decoration: none;
            @media (max-width: 965px) {
                font-size: 200px;
            }
            @media (max-width: 766px) {
                font-size: 150px;
            }
            @media (max-width: 586px) {
                font-size: 80px;
            }
        }
    }
    .jumbo a:hover {
        color: black;
    }
}
