@import 'assets/vars.scss';

.password-container {
  // height: 76vh;
  padding-top: 6rem;
  
  a {
      text-decoration: none;
      color: black;
  }
  a:hover {
      color: $primaryPink
  }

  input {
    font-size: 2rem;
    font-family: BarlowSemiCondensed-Medium;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $gray25;
    &:focus {
        font-size: 2rem;
        font-family: BarlowSemiCondensed-Medium;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $primaryBlue;
    }
  }
  
  // button {
  //   font-size: 1.5rem;
  //   border: none;
  //   font-family: BarlowSemiCondensed-Medium;
  //   line-height: unset;
  //   padding: unset
  // }
}

.password-blurb {
  color: black;
  text-align: center;
  font-size: 2rem;
  font-family: BarlowSemiCondensed-Medium;
}
.password-monster-container {
  text-align: center;
}
.password-monster {
  height: 12rem;
  width: 12rem;
}
.margin-top {
  margin-top: 4rem;
}
.padding-top {
  padding-top: 0.5rem;
}

.password-incorrect-message {
  color: $primaryPink;
  font-size: 2rem;
}

.password-incorrect-container {
  text-align: center;
  // height: 3rem;
}