@import 'assets/vars.scss';

#app {
    top:0;
    min-height: 100%;
    width: 100%;
    position: relative;
}

.container {
    max-width: 1140px;
}

.content {
    padding-bottom: $footerHeight;
}

.button-link {
    background:none!important;
    color: black;
    border:none; 
    padding:0!important;
    border: none;
    border-radius: 0;
    // font-family: FVAlmelo;
    font-size: 2rem;
    font-family: BarlowSemiCondensed-Medium;
    // font-weight: 500;
    // text-transform: none;
    height: 2rem;
    line-height: 2rem;
    letter-spacing: 0;
    margin: 0;
    cursor: pointer;
}
.button-link:hover, .active {
    color: $primaryPink
}
