@import 'assets/vars.scss';

.shop-root {
    text-align: center;
    min-height: 1500px;
    h2, h6 {
        color: black;
    }
    .listing-wrapper {
        color: black;
        text-decoration: none;
        .listing-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0;
        }
        .price {
            font-size: 2rem;
            margin-top: 0;
            line-height: 1;
        }
    }
    .listing-wrapper:hover {
        color: $primaryPink;
    }
}
