@import '~skeleton-css/css/skeleton.css';

@font-face {
    font-family: "FVAlmelo";
    src: url("./assets/FV_Almelo.ttf") format("truetype");
}

@font-face {
    font-family: "BarlowSemiCondensed-Medium";
    src: url("./assets/BarlowSemiCondensed-Medium.ttf") format("truetype");
}

html,
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
    min-height:100%; /* make sure it is at least as tall as the viewport */  
    margin: 0;
    padding: 0;
    font-family: FVAlmelo, sans-serif;
    color: white;
}

.pointer {
    cursor: pointer;
}

.max-height {
    height: 100%;
    min-height: 100%;
}

h1 {
    font-size: 7rem;
    line-height: 7rem;
    margin: 0;    
}
h2 {
    font-size: 6rem;
    line-height: 6rem;
    margin: 0;         
}
h3 {
    font-size: 5rem;
    line-height: 5rem;
    margin: 0;     
}
h4 {
    font-size: 4rem;
    line-height: 4rem;
    margin: 0;         
}
h5 {
    font-size: 3rem;
    line-height: 3rem;
    margin: 0;         
}
h6 {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;     
}

@media (max-width: 675px) {
    h1 {
        font-size: 5rem;
        line-height: 5rem;
    }
    h2 {
        font-size: 4rem;
        line-height: 4rem;
    }
    h3 {
        font-size: 3rem;
        line-height: 3rem;
    }
    // h4 {
    //     font-size: 2rem;
    //     line-height: 2rem;
    // }
    // h5 {
    //     font-size: 1rem;
    //     line-height: 1rem;
    // }
    // h6 {
    //     font-size: 0.5rem;
    //     line-height: 0.5rem;
    // }
}