@import 'assets/vars.scss';

.header {
    color: black;
    
    nav {
        display: block;
        width: 100%;
        height: 11rem;
        margin-top: 2rem;
        
        ul {
            list-style: none;   
            margin-bottom: 0;
        }
        
        h5 {
            margin-top: 5rem;
        }
        a {
            color: black;
        }
        a:hover {
            cursor: pointer;
            color: $primaryPink;
        }

        @media (max-width: 500px) {
            img {
                height: 80px;
                width: 80px;
            }
            h5 {
                font-size: 2rem;
                margin-top: 3rem;
            }
        }
    }
}
