@import 'assets/vars.scss';

.footer {
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    text-align: center;
    overflow: auto;
    background-color:black;
    width: 100%;
    height: $footerHeight;
    position: absolute;
    bottom: 0;
    left: 0;
    p {
        margin: 0 auto;
        width: fit-content;
    }
    a {
        color: white;
        text-decoration: none;
        margin-top: 0.5rem;
        display: block;
        font-size: 20px;
        
    }
    a:hover {
        color: $primaryPink
    }
}
